body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}
#nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    background-color: #19274E;
    display: flex;
    align-items: center;
    padding: 0 15px;
    z-index: 100;
}

  .logo img{
      padding-left: 40px;

      
  }

  #main-i{
    font-family:"Kantumruy Pro", sans-serif ;
    font-weight: 500;
    font-size: 24px;
    color: #2968A3;
    ;

          
 }
   #main-i-1{
    font-family:"Kantumruy Pro", sans-serif ;
    font-weight: 500;
    font-size: 24px;
    color: black;
       

   }

   #list-drop{
    padding-left: 40px;
    font-family:"Kantumruy Pro", sans-serif ;
    font-weight: 500;
    font-size: 24px;
    color: black;
  

 }

 #list-drop li:hover{
    background-color: #bdcbe4;
    border-radius: 5px;
    color: black;
}

     #new-logo{

            padding-left: 1200px;
           
     }
.sidebar {
    position: fixed;
    top: 72px; /* Aligns with the navbar height */
    left: 0;
    height: calc(100% - 72px); /* Full height minus the navbar height */
    width: 312px;
    background: #FFF;
    padding: 15px;
    z-index: 99;
    transition: transform 0.3s ease;
}
.sidebar.close {
    transform: translateX(-100%);
}
.main-content {
    margin-top: 72px; /* Aligns with the navbar height */
    margin-left: 260px; /* Aligns with the sidebar width */
    padding: 20px;
    transition: margin-left 0.3s ease;
    height: 130vh;
    background-color: whitesmoke;
}
.main-content.full-width {
    margin-left: 0;
}
   #sidebar-toggle{
             padding-left:170px ;
   }
   .expanded {
    width: 200px;
    height: 100px;
}